:root {
    --main-color: #e2ab68;
    --border: 0.1rem solid rgba(9, 9, 9, 0.3);
    --bg: #d6d3d8;
    /*mudar a cor depois*/
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: "Roboto Mono", monospace;
}

body {
    background-color: var(--bg);
}

.section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    background-color: var(--bg);
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: #000;
    align-items: center;
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.2rem solid #d3ad7f;
    padding-bottom: 0.5;
    font-size: 2rem;
}

.logo img {
    margin: 1rem;
    cursor: pointer;
    width: 70px;
    margin-left: 200px;
    border-radius: 8px;
    background-color: var(--bg);
    transition: filter 0.5s ease;
}

.logo img:hover {
    filter: brightness(93%);
}

.icons img {
    margin: 1rem;
    cursor: pointer;
    margin-right: 200px;
}

.icons img:hover {
    width: 40px;
    height: 40px;
}


/* Container do dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}


/* Botão principal */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}


/* Conteúdo do dropdown (fica escondido) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 180px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    z-index: 1;
}


/* Links do dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ddd;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}


/* Mostrar menu quando passa o mouse */
.dropdown:hover .dropdown-content {
    display: block;
}


/* Efeito no botão */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/*--------------------------------------------------------------
# Home
--------------------------------------------------------------*/

.home-container {
    background: url("../img/home-photo.jpg");
    background-position: center;
    background-size: cover;
    min-height: 70vh;
    margin-top: 125px;
    display: flex;
    align-items: center;
}

.home-container section{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content{ 
    max-width: 70rem;
}

.content h3{
    color: #ffff;
    font-size: 6rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
}

.content p{
    color: #000;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.7;
    padding: 1rem 0;
    margin-left: 10rem;
}

/*--------------------------------------------------------------
# Ciclo de Estudos
--------------------------------------------------------------*/

.title {
    font-size: 4rem;
    color: var(--main-color);
    text-align: center;
    text-transform: uppercase;
    margin-top: 20rem;
    margin-bottom: 3rem;
}

.title span{
    color: #000;
    text-transform: uppercase;
}

.ciclo .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    padding: 2rem 8rem 10rem;
}

.ciclo .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 2rem 0rem;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.ciclo .box-container .box img {
    height: 6rem;
    margin-bottom: 1.5rem;
    transition: transform 0.5s ease; /* suavidade */
    cursor: pointer;
}

.ciclo .box-container .box img:hover {
  animation: bounce-out-in 0.6s ease forwards;
}

@keyframes bounce-out-in {
  0%   { transform: translateY(0); }
  40%  { transform: translateY(-10px); } /* sobe um pouco */
  70%  { transform: translateY(0); }     /* volta */
  85%  { transform: translateY(-10px); } /* pequeno bounce */
  100% { transform: translateY(0); }     /* posição final */
}

.ciclo .box-container .box h3 {
    color: #000;
    font-size: 2rem;
    padding: 1rem 0;
    margin-top: 0.5rem;
}

.ciclo .box-container .box p {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    text-align: justify;
    margin-top: 10px;
    padding: 0 20px;
    font-family: 'Segoe UI', Arial,
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer {
    padding: 20px 0;
    font-size: 20px;
    transition: all 0.2s;
    border-top: var(--border);
}

.footer .abaixo {
    text-align: center;
    color: #000;
}